@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0;
  color: #fff;
}
body{
  font-size: 15px;
  background: black;
}
h1{
  font-size: 20px;
  font-family: 'Zen Dots', cursive;
  text-align: center;
}
img{
  width: 180px;
  height: 180px;
}
h2{
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
a{
  text-decoration: none;
}
.button {
  display: flex;
  height: 40px;
  padding: 0;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #84858D;
}
.button__text{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: black;
  height: 100%;
}
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
  font-size: 1.5em;
  background: #f2f2f2;
}
.button__icon:hover{
  background: #84858D;
}
.button__icon ion-icon{
  color: black;
  font-size: 19px;
}

.foto img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.foto p{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.work p{
  font-size: 13px;
  text-align: center;
  font-family: 'Zen Dots', cursive;
}
.medsos nav{
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}
.medsos nav a{
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
}
.medsos nav a i{
  left: 40px;
  position: absolute;
  font-size: 25px;
}